<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>[Linkty] 회원가입 이메일 인증번호 안내</title>
  </head>
  <body
    style="font-family: Arial, sans-serif; background: #f7f7f7; padding: 40px"
  >
    <div
      style="
        max-width: 480px;
        margin: auto;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        padding: 32px;
      "
    >
      <div style="text-align: center">
        <img
          src="http://linkty.kr/title_logo.png"
          alt="Linkty Logo"
          style="height: 54px; margin-bottom: 8px"
        />
        <h2 style="color: #2d8cff">환영합니다!</h2>
        <p style="font-size: 18px; color: #333333; margin-bottom: 24px">
          Linkty 회원가입을 위한 이메일 인증을 요청하셨습니다.<br />
          아래 인증번호를 입력해 주세요.
        </p>
        <div
          th:text="${code}"
          style="
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 8px;
            color: #2d8cff;
            margin: 24px 0;
          "
        >
          인증코드
        </div>
        <p style="color: #888888; font-size: 14px">
          인증번호는
          <b th:text="${expire} + '분간'">유효시간</b> 유효합니다.<br />
          본인의 요청이 아니시라면, 이 메일을 무시해 주시길 바랍니다.
        </p>
      </div>
    </div>
  </body>
</html>
